body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div{
  padding-bottom: 1%;
}
a {
  font-size: 20px;
  margin: 1%;
  color: #00B7FF;
}

nav{
  padding: 1%;
  background: lightgrey;
  text-align: center;
}
